@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

html{
  overflow: hidden;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  overscroll-behavior-y: none;
  background: #111;
  pointer-events: none;
  overflow: hidden;
}



@layer base {
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
