@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@media (max-height: 930px) {
  .overview-title {
    font-size: 2.6rem;
  }

  .overview-subtitle {
    font-size: 1rem;
  }
}

@media (max-height: 860px) {
  .overview-title {
    font-size: 2.4rem;
  }

  .overview-subtitle {
    font-size: .9rem;
  }
}

@media (max-height: 760px) {
  .overview-title {
    font-size: 2.2rem;
  }

  .overview-subtitle {
    font-size: .8rem;
  }
}

@media (max-height: 690px) {
  .overview-title {
    font-size: 1.9rem;
    /* Smaller than 5rem */
  }

  .overview-subtitle {
    font-size: .75rem;
    /* Smaller than 1.25rem */
  }
}
@media (max-height: 630px) {
  .overview-title {
    font-size: 1.8rem;
    /* Smaller than 5rem */
  }

  .overview-subtitle {
    font-size: .7rem;
    /* Smaller than 1.25rem */
  }
}

html{
  overflow: hidden;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  overscroll-behavior-y: none;
  background: #111;
  pointer-events: none;
  overflow: hidden;
}



@layer base {
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
